@{
    ViewData["Title"] = "Flight Routes Management";
}

<h1>Please choose an action: </h1>
<div>
<a asp-area="admin" asp-action="ManageUsers" asp-controller="user" type="button" class="buttons-div btn btn-block bg-gradient-secondary btn-lg">Manage users</a>
<a asp-area="admin" asp-action="Roles" asp-controller="user" type="button" class="buttons-div btn btn-block bg-gradient-secondary btn-lg">Check roles</a>

</div>
