@using AirlineReservationSystem.Infrastructure.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


    @if (SignInManager.IsSignedIn(User))
{
    <li>
        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </li>

    <li>
        <a asp-area="" asp-controller="booking" asp-action="Book">Book a flight</a>
    </li>
    <li>
        <a asp-area="" asp-controller="passenger" asp-action="MyBookings">My bookings</a>
    </li>
    <li>
        <a asp-area="" asp-controller="passenger" asp-action="home">Profile</a>
    </li>
    <li>
        <a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            Logout
        </a>
    </li>
}
else
{
    <li>
        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </li>
    <li>
        <a asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li>
        <a asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}

