@{
    ViewData["Title"] = "Oops";
}

<div class="alert alert-info alert-dismissible">
    <p>
        No passenger data registered yet! You must enter your passenger data first, before you can book and board a flight.
        To do so, click <a asp-action="EditPassengerData" asp-controller="passenger">here!</a>
    </p>
</div>
