@using AirlineReservationSystem.Core.Models.AdminArea.Aircraft;
@model AddAircraftVM;

@{
    ViewData["Title"] = "Add aircrfat to fleet";
}

<div class="col-md-6">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">  Please fill in the aircraft data.</h3>
        </div>
        <form>
            <div class="card-body">
                <div class="form-group">
                    <label for="Manufacturer">Manufacturer</label>
                    <input type="text" class="form-control" name="Manufacturer" id="manufacturerId" placeholder="Enter aircraft manufacturer">
                </div>
                <div class="form-group">
                    <label for="AircraftModel">AircraftModel</label>
                    <input type="text" class="form-control" name="AircraftModel" id="modelId" placeholder="Enter aircraft model">
                </div>
                <div class="form-group">
                    <label for="Capacity">Capacity</label>
                    <input type="text" class="form-control" id="capacityId" name="Capacity" placeholder="Enter aircraft capacity">
                </div>
            </div>

            <div class="card-footer">
                <button type="submit" formmethod="post"  class="btn btn-primary">Add to fleet</button>
            </div>
        </form>
    </div>
</div>