@import url(https://fonts.googleapis.com/css?family=Lato);


.userUl {
    display: flex;
    flex-direction: column;
    align-items: start;
    list-style-type: none;
    justify-content: center;
}

.userLi {
    padding: 6px 0;
}

.userA {
    position: relative;
    display: block;
    padding: 4px 0;
    font-family: Lato, sans-serif;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    font-size: 24px;
}

    .userA::after {
        position: absolute;
        content: "";
        top: 100%;
        left: 0;
        width: 100%;
        height: 3px;
        background: #53679a;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.5s;
    }

.userDiv {
    margin: auto;
    width: 100%;
    padding: 10px;

}

.userA:hover {
    color: #95a5a6;
}

    .userA:hover::after {
        transform: scaleX(1);
        transform-origin: left;
    }

nav {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5%;
    background-color: #edeef5
}

    nav ul {
        display: flex;
    }

        nav ul li {
            list-style: none;
            margin: 15px;
        }

            nav ul li a {
                text-decoration: none;
                color: black;
                font-weight: bold;
            }
