@{
    ViewData["Title"] = "Already registered";
}

<div class="alert alert-info alert-dismissible">
    <p>Passenger data is already registered successfully! You can't perform this action again.</p>
</div>