@{
    ViewData["Title"] = "Important flight information";
}

<section>
    <div>
        <h1>@ViewData["Title"]</h1>
    </div>
    <div>
        <p>Firstly, we would like to thank you for choosing to fly with us!</p>
        <p>Please note that passengers who show up less than 30 minutes before the sceduled departure time at the flight check-in desk, won't be allowed on board. We take such measures, in order to assure our customers get to their destination and/or connecting flight on time. </p>
        <p>Please make sure you have all the neccessary documents (such as a valid passport or ID) with you on the day of the departures. Make sure you are complying with additional requirments of the destination country such as a visum. </p>
        <p>As we make our passenger's safety our biggest priority, please make sure to listen and comply at all time with the instructions and information given by the flight crew. Please be reminded that we have the right to deny boarding to any passenger we might feel is a threat to others on board, such as angry or drunk individuals. Furthermore, we have the right to ban such customers from flying with us again! </p>
        <p>Be reminded to contact us in case you need further assistance. You can find our contact data <a asp-controller="home" asp-action="index">here</a>!</p>
    </div>
    <div>
        <img src="~/images/travel.jpg" />
    </div>
</section>
