@{
    ViewData["Title"] = "Oops";
}

<div class="alert alert-info alert-dismissible">
    <p>You can't perform this action, as the route/aircraft is currently in use. Please cancel the flight/s and try again!</p>
</div>
