@using AirlineReservationSystem.Core.Models.AdminArea.Route;
@model AddFlightRouteVM

@{
    ViewData["Title"] = "Add flight route";
}

<section>
    <div class="col-md-6">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">  Please fill in the required route information.</h3>
            </div>
            <form>
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="City">City</label>
                        <input asp-for="City" type="text" class="form-control" name="City" id="cityId" placeholder="Enter city name">
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IATA">IATA code</label>
                        <input asp-for="IATA" type="text" class="form-control" name="IATA" id="IATAId" placeholder="Enter valid IATA code">
                        <span asp-validation-for="IATA" class="text-danger"></span>
                    </div>
                </div>

                <div class="card-footer">
                    <button type="submit" formmethod="post" class="btn btn-primary">Add route</button>
                </div>
            </form>
        </div>
    </div>
</section>


@section Scripts {
<partial name="_ValidationScriptsPartial" />
}