@{
    ViewData["Title"] = "Flight Routes Management";
}

<section style="display:inline-block">
    <h1>Please choose an action: </h1>
    <ul>
        <li>
            <a asp-area="admin" asp-action="AddRoute" asp-controller="flightroute" type="button" class="buttons-div btn btn-block bg-gradient-secondary btn-lg">Add route</a>
        </li>
        <li>
            <a asp-area="admin" asp-action="RemoveRoute" asp-controller="flightroute" type="button" class="buttons-div btn btn-block bg-gradient-secondary btn-lg">Remove a route</a>
        </li>
    </ul>
</section>