@using AirlineReservationSystem.Core.Models.AdminArea.Route

@model IEnumerable<ListFlightRouteVM>
@{
    ViewData["Title"] = "Remove Route";
}

<section>
    <div class="col-12">
        <form>
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Pick a flight route to cancel:</h3>
                </div>

                <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap">
                        <thead>
                            <tr>
                                <th>City name</th>
                                <th>IATA code</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (!Model.Any())
                            {
                                <tr>
                                    <td style="font-size:18px">There are no available flight routes at the moment!</td>
                                </tr>

                            }
                            else
                            {
                                @foreach (var FlightRoute in Model)
                                {
                                    <tr>
                                        <td>@FlightRoute.City</td>
                                        <td>@FlightRoute.IATA</td>
                                        <td><button type="submit" formmethod="post" asp-action="RemoveRoute" asp-controller="FlightRoute" asp-route-id="@FlightRoute.Id" class="btn btn-primary">Remove route from network</button></td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>

                <div class="card-footer">
                    Please note that you can only remove routes that are currently not scheduled/in use!
                </div>
            </div>
        </form>
    </div>
</section>

