@{
    ViewData["Title"] = "Oops";
}

<div class="alert alert-info alert-dismissible">
    <p>You can't fly from and to the same city ! That would be a really short flight! Please choose a different departure/arrival destination!</p>
</div>
