@{
    ViewData["Title"] = "Home Page of Area Admin";
}

<div class="text-center">
    <h1 class="display-3">Welcome to the admin area!</h1>
     <h3 class="display-3"> Here you can manage our airline's fleet, routes and flights.</h3>
     <br/>
    
<div>
    @* TODO:ADD CORRECT LINK TO HOME VIEW ONCE VIEW IS CREATED *@
<a asp-area="admin" asp-action="Home" asp-controller="user" type="button" class="buttons-div btn btn-block bg-gradient-secondary btn-lg" style="border:2px solid">User Management</a>
<a asp-area="admin" asp-action="Home" asp-controller="aircraft" type="button" class="buttons-div btn btn-block bg-gradient-secondary btn-lg"style="border:2px solid">Fleet Management</a>
<a asp-area="admin" asp-action="Home" asp-controller="flightroute" type="button" class="buttons-div btn btn-block bg-gradient-secondary btn-lg"style="border:2px solid">Flight route Management</a>
<a asp-area="admin" asp-action="Home" asp-controller="flight" type="button" class="buttons-div btn btn-block bg-gradient-secondary btn-lg" style="border:2px solid">Flight Management</a>
</div>
<br/>
    <img src="/images/a350.jpg" alt="Aircraft picture" style="width:600px;" />
</div>
