@{
    ViewData["Title"] = "Home Page of Area Admin";
}

<div class="text-center userDiv">
    <h1 class="display-3">Welcome to the admin area!</h1>
     <h3 class="display-3"> Here you can manage our airline's fleet, routes and flights.</h3>
     <br/>
<a class="userA" asp-area="admin" asp-action="Home" asp-controller="user"btn-lg" >User Management</a>
<a class="userA" asp-area="admin" asp-action="Home" asp-controller="aircraft">Fleet Management</a>
<a class="userA" asp-area="admin" asp-action="Home" asp-controller="flightroute">Flight route Management</a>
<a class="userA" asp-area="admin" asp-action="Home" asp-controller="flight" >Flight Management</a>
<br/>
    <img src="/images/a350.jpg" alt="Aircraft picture" style="width:600px;" />

</div>
