@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<section>
    <div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat orci sit amet euismod ornare. Pellentesque non tristique velit. Aenean faucibus magna lobortis interdum rutrum. Quisque vulputate, urna vel tincidunt congue, nisi mi porttitor ipsum, faucibus tincidunt felis magna eget sapien. Sed venenatis dapibus dolor sed mollis. Maecenas pharetra nibh eu molestie scelerisque. Aenean nec elit mauris. Praesent quis pretium nibh. Nullam vitae lacinia enim, nec efficitur leo. Etiam erat diam, ultricies et arcu sit amet, aliquet viverra est. Nunc ultrices odio neque, ut posuere erat laoreet in. Nam at nisl pharetra massa iaculis congue. Cras semper ex nisi, non placerat eros congue facilisis. Aenean lacinia tellus leo, nec ornare leo molestie vitae. Pellentesque a turpis ac sem facilisis cursus.
        </p>
        <p>
            Nunc venenatis dignissim ipsum, eu congue dolor hendrerit vitae. Etiam eget finibus turpis. Donec semper non risus ultricies efficitur. Etiam feugiat semper est id suscipit. Maecenas ut augue eget nulla dictum volutpat quis vel tortor. Nam suscipit finibus rhoncus. Aenean iaculis ipsum quis purus pellentesque feugiat. Pellentesque ornare porttitor nisl, sit amet pretium purus commodo sit amet. Suspendisse elementum sem ac ultrices fermentum. In eget massa ac arcu eleifend pellentesque. Nunc tristique quis felis in interdum. In imperdiet tortor eu laoreet luctus. Mauris rhoncus enim consequat erat consequat, in consequat augue interdum. Vestibulum vestibulum congue sem nec vulputate.
        </p>
        <p>
            Ut vel pharetra odio. Curabitur in tortor magna. Etiam aliquam aliquet tincidunt. Vivamus consequat tempor purus tincidunt volutpat. Sed viverra at nisi a suscipit. Morbi dolor arcu, luctus sed lectus pulvinar, euismod consequat mi. Nullam eu ultrices neque. Pellentesque venenatis imperdiet auctor. Quisque vel justo mauris. Curabitur sodales neque a quam sollicitudin, et cursus enim venenatis. Mauris iaculis augue enim, ut placerat ante ornare ut. In pellentesque non dui eu blandit. Cras euismod vulputate nulla.
        </p>
    </div>
</section>
