@using AirlineReservationSystem.Core.Models.User_Area

@model IEnumerable<ReportLostBaggageVM>
@{
    ViewData["Title"] = "Report lost baggage";
}

<section>
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Here you can view all booked baggages for the chosen flight:</h3>
            </div>

            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>Size</th>
                            <th>Reported Lost</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (!Model.Any())
                        {
                            <tr>
                                <td style="font-size:18px">This flight did not include traveling with a baggage piece!</td>
                            </tr>
                        }
                        else
                        {
                            @foreach (var baggage in Model)
                            {
                                <tr>
                                    <td>@baggage.Size</td>
                                    <td>@baggage.IsReportedLost</td>
                                    @if (baggage.IsReportedLost =="true")
                                    {
                                        <td>
                                            <form>
                                                <button type="submit" asp-action="ReportBaggageAsLlost" asp-controller="Baggage" asp-route-id="@baggage.BaggageId" formmethod="post" class="btn btn-primary">Report Lost</button>
                                            </form>
                                        </td>
                                    }
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="alert alert-info alert-dismissible">
                Upon reporting a baggage piece as lost, we will review your case and get back to you within 48 hours.
            </div>
        </div>
    </div>
</section>
